example_n8n_workflows/ComfyUI workflow (vibevoice).json
{
  "name": "ComfyUI workflow (vibevoice)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        176,
        64
      ],
      "id": "1d6addd3-2161-412e-b134-a5e2eb436f43",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"11\": {\n    \"inputs\": {\n      \"text\": {{JSON.stringify($json.text )}},\n      \"model\": \"VibeVoice7b-low-vram\",\n      \"attention_type\": \"auto\",\n      \"quantize_llm\": \"full precision\",\n      \"free_memory_after_generate\": true,\n      \"diffusion_steps\": 10,\n      \"seed\": 3523606388,\n      \"cfg_scale\": 1.3,\n      \"use_sampling\": false,\n      \"temperature\": 0.95,\n      \"top_p\": 0.95,\n      \"max_words_per_chunk\": 250,\n      \"voice_speed_factor\": 1,\n      \"voice_to_clone\": [\n        \"13\",\n        0\n      ]\n    },\n    \"class_type\": \"VibeVoiceSingleSpeakerNode\",\n    \"_meta\": {\n      \"title\": \"VibeVoice Single Speaker\"\n    }\n  },\n  \"12\": {\n    \"inputs\": {\n      \"audioUI\": \"\",\n      \"audio\": [\n        \"11\",\n        0\n      ]\n    },\n    \"class_type\": \"PreviewAudio\",\n    \"_meta\": {\n      \"title\": \"Preview Audio\"\n    }\n  },\n  \"13\": {\n    \"inputs\": {\n      \"audio\": \"vlaams_snippet.mp3\",\n      \"audioUI\": \"\"\n    },\n    \"class_type\": \"LoadAudio\",\n    \"_meta\": {\n      \"title\": \"Load Audio\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        64
      ],
      "id": "ed7df293-71d3-4492-826f-06381a86ce10",
      "name": "Build ComfyUI workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.20.50.213:8190/queue",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"workflow\": {{ JSON.stringify($json) }},\n\"callbackUrl\": \"{{$execution.resumeUrl}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        848,
        64
      ],
      "id": "2d86431c-5328-4fc6-95fd-a5dc26cbef95",
      "name": "Queue ComfyUI workflow"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1072,
        64
      ],
      "id": "6e726cec-8908-4ff1-baac-1dc76724ea52",
      "name": "Wait",
      "webhookId": "3ff7c142-b988-46b3-a60b-e4c91c1d928a"
    },
    {
      "parameters": {
        "content": "## ComfyUI example workflow\n\nThis initial workflow you can obtain by exporting a workflow in ComfYUI -> Export API.\n\nFinally it waits until the workflow is executed. The API expects a callbackUrl it will call with the result once the execution is finished which is provided by the Wait node.\n\nIt splits out the result and downloads the files",
        "height": 224,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        272
      ],
      "id": "4956f955-54af-4ae2-99e8-55347b4739f8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "={{ $json.src }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1808,
        64
      ],
      "id": "d19acf00-e046-481c-91fc-6ffb3a7d7941",
      "name": "Download result"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1296,
        64
      ],
      "id": "df93ac63-7c96-48df-a717-236e10949564",
      "name": "Split out results"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1dadadbc-f974-40ce-9be7-b65afb635e21",
              "name": "text",
              "value": "Dit is een text met \"quotes\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        64
      ],
      "id": "99240141-3435-405f-8de2-07c8ee8f8ce2",
      "name": "Input text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c227c2e-af27-4799-86ee-9f286e74b3e8",
              "leftValue": "={{ $json.type }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        64
      ],
      "id": "10acbab5-eba4-4cb9-bfb3-ce4ecde036dc",
      "name": "If output item is an audio file"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://172.20.50.213:8190/download/{{$json.filename}}?subfolder={{$json.subfolder}}&filetype={{$json.filetype}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1808,
        240
      ],
      "id": "ba4651fb-fb3b-43cc-95b1-a953cc8c173f",
      "name": "Delete output files from ComfyUI"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Input text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ComfyUI workflow": {
      "main": [
        [
          {
            "node": "Queue ComfyUI workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue ComfyUI workflow": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split out results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out results": {
      "main": [
        [
          {
            "node": "If output item is an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input text": {
      "main": [
        [
          {
            "node": "Build ComfyUI workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If output item is an audio file": {
      "main": [
        [
          {
            "node": "Download result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download result": {
      "main": [
        [
          {
            "node": "Delete output files from ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f25ae066-84d0-411e-95a7-9dc62466b0c1",
  "meta": {
    "instanceId": "6e07c524caae010c5a5ae671d24656b8a966f61b0fee7a9ce5e13c5bfa536e31"
  },
  "id": "npDINBNj3e299cV1",
  "tags": []
}